---
/*https://sjogjgnnezgfpkahworr.supabase.co */

/*eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNqb2dqZ25uZXpnZnBrYWh3b3JyIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODQzOTUwNTQsImV4cCI6MTk5OTk3MTA1NH0.vWMUEXcwFWRZ1s2ukS1uPY9qj2Rglhz-eEeRLppRxt0 */

//Lav variablen "url" med vores URL fra supabase
const url = "https://sjogjgnnezgfpkahworr.supabase.co/rest/v1/piloscph_produkter?tags=eq.mug";

//Lav variablen "api" med vores api nøgle
const api = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNqb2dqZ25uZXpnZnBrYWh3b3JyIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODQzOTUwNTQsImV4cCI6MTk5OTk3MTA1NH0.vWMUEXcwFWRZ1s2ukS1uPY9qj2Rglhz-eEeRLppRxt0";

const data = await fetch(url, {
  method: "GET",
  headers: {
    apikey: api,
  },
}).then((res) => res.json());

import MainLayout from "../../layouts/MainLayout.astro";
import Card from "../../components/Card.astro";
---

<MainLayout title="Produkter">
  <section class="category">
    <h1>Mugs</h1>
    <p><a href="/kategori">Alle produkter</a> / <span>Mugs</span></p>
  </section>
  <section class="grid_3-auto">
    {data.map((mug) => <Card image={`/images/${mug.image}`} name={mug.name} price={mug.price} slug={mug.slug} />)}
  </section>
</MainLayout>

<style>
  section {
    margin-top: 200px;
    max-width: 90%;
    margin-inline: auto;
  }

  .category {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    margin-bottom: 10%;
  }

  p {
    text-transform: uppercase;
  }

  a {
    font-size: var(--font-p);
  }

  span {
    font-family: "NeueHaasMedium", sans-serif;
    font-weight: 800;
    font-size: var(--font-p);
  }

  a {
    color: var(--dark-brown);
  }

  .grid_3-auto {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 10%;

    height: 1200px;
  }

  @media (max-width: 1200px) {
    section {
      margin-top: 120px;
    }

    .grid_3-auto {
      height: 1000px;
    }
  }

  @media (max-width: 400px) {
    section {
      margin-top: 100px;
    }

    .grid_3-auto {
      grid-template-columns: 1fr 1fr;

      height: 800px;
    }

    h1 {
      margin-bottom: 20%;
    }
  }
</style>
