:root {
  /* Farver */
  --lightest_brown: #d0c7be;
  --light_brown: #b5a799;
  --medium_brown: #93826c;
  --dark_brown: #51473d;
  --icon_background: #eae1da;
  --icon_base: #bb9b84;
  --icon_shadow: #a08572;
  --black: #000000;

  /* Baggrund på forside, about og kontakt */
  --white: #ffffff;
  /* Baggrund på produktsiderne og kursus */
  --product_background: #f3f0ec;
  /* Den sorte farve på siden */
  --black: #252525;

  /*Typografi*/
  --font-h1: 2.813rem;
  --font-p: 1.25rem;
  --font-small: 1rem;
  --font-smaller: 0.938rem;
}

@font-face {
  font-family: "NeueHaasLight";
  src: url("NeueHaasDisplayLight.ttf") format("ttf");
}

@font-face {
  font-family: "NeueHaasMedium";
  src: url("NeueHaasDisplayMediu.ttf") format("ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  line-height: 1.6;
  color: var(--dark_brown);
  font-family: "NeueHaasLight", sans-serif;
  font-size: var(--font-p);
}

h1 {
  font-family: "quiche-sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: var(--font-h1);
  color: var(--black);
}

h2 {
  font-family: "quiche-sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

h3 {
  font-family: "quiche-sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* span {
  font-family: "NeueHaasMedium", sans-serif;
} */

a {
  font-family: "NeueHaasLight", sans-serif;
  text-decoration: none;
}
