---
//Lav variablen "url" med vores URL fra supabase
const url = "https://sjogjgnnezgfpkahworr.supabase.co/rest/v1/piloscph_produkter?limit=3";

//Lav variablen "api" med vores api nøgle
const api = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNqb2dqZ25uZXpnZnBrYWh3b3JyIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODQzOTUwNTQsImV4cCI6MTk5OTk3MTA1NH0.vWMUEXcwFWRZ1s2ukS1uPY9qj2Rglhz-eEeRLppRxt0";

//Lav variablen "data" som venter på url fetchet med GET metode
//API nøgle godkener adgang
const data = await fetch(url, {
  method: "GET",
  headers: {
    apikey: api,
  },
}).then((res) => res.json());
//Dataen bliver hentet som JSON-fil

import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
import "../styles/style.css";
---

<MainLayout title="Forside">
  <div class="banner">
    <img src="/images/banner_billede1.webp" alt="Billede af vase" />
    <div class="left-center"><p class="part1">Håndlavet tidløst keramik</p> <br /> <p class="part 2">til ethvert hjem</p></div>
    <div class="bottom"><Button variant="secondary"><a href="/kategori">Udforsk Pilos</a></Button></div>
  </div>
  <section class="om">
    <div class="tekst">
      <h1>Piloscph</h1>
      <p>Opdag keramik med inspiration fra antikkens Grækenland blandet med det nordiske tidløse design hos Piloscph.</p>
      <p>Meget af inspirationen i mine værker kommer fra det antikke Grækenland, med en blanding af det rå nordiske look.</p>
      <p>Jeg sætter derfor en stor ære i at skabe et tidløst design, der skaber ro i sindet og ikke mindst i dit hjem.</p>
      <div class="button">
        <Button variant="secondary"><a href="/om">Om mig</a></Button>
      </div>
    </div>
    <img src="/images/old_door.webp" alt="old greek door" />
  </section>
  <section class="produkter">
    {data.map((mug) => <Card image={`/images/${mug.image}`} name={mug.name} price={mug.price} slug={mug.slug} />)}
  </section>
  <section class="instagram">
    <h2>Opdag nye projekter</h2>
    <a href="https://www.instagram.com/piloscph/">@piloscph</a>
    <article class="grid_4-2">
      <a href=""><img src="/images/billede_8.webp" alt="Instagrambillede" /></a>
      <a href=""><img src="/images/billede_4.webp" alt="Instagrambillede" /></a>
      <a href=""><img src="/images/billede_3.webp" alt="Instagrambillede" /></a>
      <a href=""><img src="/images/billede_2.webp" alt="Instagrambillede" /></a>
      <a href="https://www.instagram.com/p/CrBOQJLqAUh/"><img src="/images/billede_5.webp" alt="Instagrambillede" /></a>
      <a href="https://www.instagram.com/p/Cq41FN-qFIN/"><img src="/images/billede_1.webp" alt="Instagrambillede" /></a>
      <a href="https://www.instagram.com/p/CraPD3IqfAE/"><img src="/images/billede_7.webp" alt="Instagrambillede" /></a>
      <a href="https://www.instagram.com/p/CrgliSJLVID/"><img src="/images/billede_6.webp" alt="Instagrambillede" /></a>
    </article>
  </section>
</MainLayout>
<style>
  .banner img {
    width: 100%;
    height: 100%;
    display: block;
  }

  .banner {
    position: relative;
    text-align: center;
    color: var(--light_brown);
  }

  .left-center {
    position: absolute;
    left: 2.5%;
    top: 25%;

    display: flex;
    flex-direction: column;
    text-align: start;
  }

  .left-center p {
    font-size: 3.2rem;
    font-family: "quiche-sans", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .bottom {
    position: absolute;
    top: 50%;
    left: 2.5%;
    margin-top: 2%;
  }

  .bottom a {
    font-size: var(--font-a);
    color: var(--white);
  }

  section {
    margin-top: 100px;

    max-width: 90%;
    margin-inline: auto;
  }

  .om {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
  }

  h1 {
    margin-bottom: 5%;
  }

  .om img {
    width: 100%;
    height: 100%;
  }

  .button {
    margin-top: 70px;
  }

  .button a {
    font-size: var(--font-p);
    color: var(--white);
  }

  .produkter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5%;
  }

  .instagram {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .instagram a {
    text-transform: capitalize;
    color: var(--dark-brown);
  }

  .grid_4-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 2%;
  }

  .grid_4-2 img {
    width: 95%;
    height: 95%;
  }

  @media (max-width: 1400px) {
    .left-center p {
      font-size: 3rem;
    }
  }

  @media (max-width: 1200px) {
    .left-center p {
      font-size: 2.5rem;
    }

    .om {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 5%;
    }

    .om h1 {
      margin-bottom: 50px;
    }

    .om img {
      width: 100%;
      height: 100%;
    }

    .om p {
      margin-bottom: 15px;
    }

    .button {
      margin-top: 50px;
    }
  }

  @media (min-width: 901px) {
    .tekst {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  @media (max-width: 900px) {
    .om {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 2fr;
    }

    .left-center p {
      font-size: 2rem;
    }

    h1 {
      display: flex;
      justify-content: center;
    }
  }

  @media (max-width: 400px) {
    .left-center p {
      font-size: 0.85rem;
    }

    .bottom {
      top: 60%;
    }

    .bottom a {
      font-size: 0.5rem;
    }

    .button a {
      font-size: 0.7rem;
    }
    .om {
      grid-template-columns: 1fr;
      grid-template-rows: 3fr 2fr;
    }
    section {
      margin-top: 70px;
    }

    .image_2 {
      display: none;
    }

    .image_3 {
      display: none;
    }

    h1 {
      margin-bottom: 20%;
    }
  }
</style>
