---
---

<body>
	<section class="om">
		<div class="tekst">
	<h1>piloscph</h1>
	<p>Opdag keramik med inspiration fra antikkens Grækenland blandet med det nordiske tidløse design hos Piloscph.
		Meget af inspirationen i mine værker kommer fra det antikke Grækenland, med en blanding af det rå nordiske look. Jeg sætter derfor en stor ære i at skabe et tidløst design, der skaber ro i sindet og ikke mindst i dit hjem. 
		</p>
	<button></button>
</div>
<img src="" alt="">
</section>
<section class="produkter">
	<div class="image_1">
		<img src="" alt="">
		<p></p>
	</div>
	<div class="image_2">
		<img src="" alt="">
		<p></p>
	</div>
	<div class="image_3">
		<img src="" alt="">
		<p></p>
	</div>
</section>
<section class="instagram">
	<h2></h2>
	<a href=""></a>
	<article class="grid_4-2"></article>
</section>
</body>
