---
---

<body>
	<section class="om">
		<div class="tekst">
	<h1>piloscph</h1>
	<p>Opdag keramik med inspiration fra antikkens Grækenland blandet med det nordiske tidløse design hos Piloscph.
		Meget af inspirationen i mine værker kommer fra det antikke Grækenland, med en blanding af det rå nordiske look. Jeg sætter derfor en stor ære i at skabe et tidløst design, der skaber ro i sindet og ikke mindst i dit hjem. 
		</p>
	<button>Om mig</button>
</div>
<img src="/images/old_door.webp" alt="old greek door">
</section>
<section class="produkter">
	<div class="image_1">
		<img src="/images/mugs1.webp" alt="mugs">
		<p>Beige mug</p>
		<p>249,00 DKK</p>
	</div>
	<div class="image_2">
		<img src="/images/vase1.webp" alt="vase">
		<p>Beige stor vase</p>
		<p>1600,00 DKK</p>
	</div>
	<div class="image_3">
		<img src="/images/bowl4.webp" alt="bowls">
		<p>Salat bowl</p>
		<p>800,00 DKK</p>
	</div>
</section>
<section class="instagram">
	<h2>Opdag nye projekter</h2>
	<a href="https://www.instagram.com/piloscph/">@piloscph</a>
	<article class="grid_4-2"></article>
</section>
</body>
