---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import "../styles/style.css";
---

<MainLayout title="Forside">
  <div class="banner">
    <img src="/images/banner_billede1.webp" alt="Billede af vase" />
  </div>
  <section class="om">
    <div class="tekst">
      <h1>Piloscph</h1>
      <p>Opdag keramik med inspiration fra antikkens Grækenland blandet med det nordiske tidløse design hos Piloscph.</p>
      <p>Meget af inspirationen i mine værker kommer fra det antikke Grækenland, med en blanding af det rå nordiske look.</p>
      <p>Jeg sætter derfor en stor ære i at skabe et tidløst design, der skaber ro i sindet og ikke mindst i dit hjem.</p>
      <div class="button">
        <Button variant="secondary">Om mig</Button>
      </div>
    </div>
    <img src="/images/old_door.webp" alt="old greek door" />
  </section>
  <section class="produkter">
    <div class="image_1">
      <img src="/images/mug_brown.webp" alt="mugs" />
      <p>Beige mug</p>
      <span>249,00 DKK</span>
    </div>
    <div class="image_2">
      <img src="/images/round_vase_brown.webp" alt="vase" />
      <p>Beige stor vase</p>
      <span>1600,00 DKK</span>
    </div>
    <div class="image_3">
      <img src="/images/bowl4.webp" alt="bowls" />
      <p>Salat bowl</p>
      <span>800,00 DKK</span>
    </div>
  </section>
  <section class="instagram">
    <h2>Opdag nye projekter</h2>
    <a href="https://www.instagram.com/piloscph/">@piloscph</a>
    <article class="grid_4-2"></article>
  </section>
</MainLayout>
<style>
  .banner img {
    width: 100%;
    height: auto;
    display: block;
  }

  section {
    margin-top: 120px;

    max-width: 90%;
    margin-inline: auto;
  }

  .om {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
  }

  .om h1 {
    margin-bottom: 100px;
  }

  .om img {
    width: 100%;
    height: auto;
  }

  .om p {
    margin-bottom: 15px;
  }

  .button {
    /* display: flex;
    justify-content: center; */
    margin-top: 100px;
  }

  .produkter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5%;
  }

  .produkter img {
    width: 100%;
    height: 82%;
  }

  .produkter p {
    font-size: var(--font-small);
  }

  .produkter span {
    font-size: var(--font-smaller);
  }

  .instagram {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .instagram a {
    text-transform: capitalize;
    color: var(--dark-brown);
  }
</style>
