---
import "../styles/style.css";
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
---

<MainLayout title="Kontakt">
  <section class="kontakt">
    <h1>Kontakt os</h1>
    <div class="tekst">
      <p>Her kan du komme i kontakt med os, hvis du har spørgsmål omkring produkter, samarbejde, bestillinger mm.</p>
      <form name="contact">
        <div class="input-felter">
          <label for="navn"
            >Fulde navn
            <input type="text" id="navn" name="navn" placeholder="Helle Jensen" /></label
          >

          <label for="email"
            >Email
            <input type="email" id="email" name="email" placeholder="hellejensen@gmail.com" /></label
          >

          <label for="telefon"
            >Tlf. nr
            <input type="text" id="telefon" name="telefon" placeholder="12345678" /></label
          >
        </div>
        <div class="besked-felt">
          <label for="andet"
            >Skriv en besked her...
            <textarea name="besked" id="besked" cols="30" rows="10"></textarea></label
          >
        </div>
        <div class="button">
          <Button variant="secondary">Indsend</Button>
        </div>
      </form>
    </div>
  </section>
  <section class="grid_1-1-1">
    <img src="/images/in_the_making5.webp" alt="in the making" />
    <img src="/images/chain_vase.webp" alt="kæde vase" />
    <img src="/images/mad_billede.webp" alt="tapas i bowls sættet" />
  </section>
</MainLayout>

<style>
  section {
    margin-top: 100px;

    max-width: 90%;
    margin-inline: auto;
  }

  img {
    width: 100%;
    height: 100%;
  }

  .kontakt {
    margin-top: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    display: flex;
    justify-content: center;

    margin-bottom: 10%;
  }

  .tekst p {
    margin-bottom: 5%;
  }

  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2%;
  }

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
  }

  form label {
    display: flex;
    flex-direction: column;

    padding-block: 2%;
  }

  form input {
    width: 100%;
    height: auto;
    padding-block: 1.5%;
    padding-left: 10px;
  }

  form textarea {
    height: 180px;
    width: 100%;
  }

  form select {
    width: 100%;
    height: auto;

    padding-block: 1.5%;
    background-color: var(--white);
    outline: none;
    border: 1px solid #51473d;
    font-size: var(--font-small);
    color: var(--dark-brown);
  }

  @media (max-width: 1200px) {
    form textarea {
      height: 185px;
    }

    .kontakt h1 {
      margin-bottom: 50px;
    }

    .kontakt {
      margin-top: 100px;
    }
  }

  @media (max-width: 900px) {
    form textarea {
      height: 180px;
    }
  }

  @media (max-width: 400px) {
    section {
      margin-top: 70px;
    }

    .kontakt {
      margin-top: 100px;
    }

    form {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;

      max-width: 350px;
    }

    .button {
      display: flex;
      justify-content: center;
    }

    h1 {
      margin-bottom: 20%;
    }
  }
</style>
