---
---

<section class="tekst">
  <h2>Kontakt os</h2>
  <p>Her kan du komme i kontakt med os, hvis du har spørgsmål omkring produkter, samarbejde, bestillinger mm.</p>
  <div class="kontakt"></div>
</section>
<section class="grid-1-1-1">
  <img src="/images/in_the_making5.webp" alt="in the making" />
  <img src="/images/chain_vase.webp" alt="kæde vase" />
  <img src="/images/mad_billede.webp" alt="tapas i bowls sættet" />
</section>
