---
import "../styles/style.css";
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
---

<MainLayout title="Kontakt">
  <section class="kontakt">
    <h1>Kontakt os</h1>
    <div class="tekst">
      <p>Her kan du komme i kontakt med os, hvis du har spørgsmål omkring produkter, samarbejde, bestillinger mm.</p>
      <form name="contact">
        <div class="">
          <label for="navn"
            >Navn
            <input type="text" id="navn" name="navn" placeholder="Sofie" /></label
          >

          <label for="email"
            >Email
            <input type="email" id="email" name="email" placeholder="sofiehansen@gmail.com" /></label
          >

          <label for="telefon"
            >Telf. nr
            <input type="text" id="telefon" name="telefon" placeholder="12345678" /></label
          >
        </div>
        <div class="">
          <label for="andet"
            >Skriv en besked her...
            <textarea name="besked" id="besked" cols="30" rows="10"></textarea></label
          >
        </div>
        <div class="">
          <Button variant="secondary">Indsend</Button>
        </div>
      </form>
    </div>
  </section>
  <section class="grid_1-1-1">
    <img src="/images/in_the_making5.webp" alt="in the making" />
    <img src="/images/chain_vase.webp" alt="kæde vase" />
    <img src="/images/mad_billede.webp" alt="tapas i bowls sættet" />
  </section>
</MainLayout>

<style>
  section {
    margin-top: 100px;

    max-width: 90%;
    margin-inline: auto;
  }

  img {
    width: 100%;
    height: auto;
  }

  .kontakt {
    margin-top: 200px;
  }

  .kontakt h1 {
    display: flex;
    justify-content: center;

    margin-bottom: 100px;
  }

  .tekst {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
  }

  .tekst p {
    margin-top: 3%;
  }

  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2%;
  }

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
  }

  form label {
    display: flex;
    flex-direction: column;

    padding-block: 2%;
  }

  form input {
    width: 100%;
    height: auto;

    padding-block: 1.5%;
  }

  form select {
    width: 100%;
    height: auto;

    padding-block: 1.5%;
    background-color: var(--white);
    outline: none;
    border: 1px solid #51473d;
    font-size: var(--font-p);
    color: var(--dark-brown);
  }
</style>
