<section class="info">
  <h2>Keramik kurser</h2>
  <p>
    Lær at dreje - du behøver ingen erfaring! Gennem kurset vil du lære simple teknikker til at dreje keramik. Du vil blive introduceret til lerets egenskaber og hvordan det kan forvandles fra klump til færdigt produkt. De første fire dage går vi I
    dybden med drejeteknikker og især hvordan man får centreret leret på drejeskiven så du på fjerdedagen kan dreje efter egen arbejdstegning. Dag fem afdrejer vi de sidste emner og dag seks glaserer vi det hele inden det brændes for sidste gang.
  </p>
  <li>
    <ul>Niveau: begynder</ul>
    <ul>Varighed: pr. lektion: 3,5 time</ul>
    <ul>Antal gange: 6 gange, en mødegang pr uge</ul>
    <ul>Alle materialer inkluderet</ul>
    <ul>Te & kaffe inkluderet</ul>
  </li>
  <div class="grid_1-1">
    <img src="/images/in_the_making2.webp" alt="in the making" />
    <img src="/images/in_the_making3.webp" alt="in the making" />
  </div>
</section>
<section class="kursus-program">
  <h2>Kursus program</h2>
  <li>
    <ul>Dag 1: Intro til centrering & den simple form</ul>
    <ul>Dag 2: Afdrejning & drej den simple form</ul>
    <ul>Dag 3: Afdrejning, drej simple former & blinddrejning</ul>
    <ul>Dag 4: Afdrejning & drej efter en arbejdstegning</ul>
    <ul>Dag 5: Afdrejning</ul>
    <ul>Dag 6: Glasering</ul>
  </li>
</section>
<section class="grid_3-2">
  <img src="/images/in_the_making4.webp" alt="in the making" />
  <img src="/images/produkter_kurser.webp" alt="forskellige produkter" />
  <img src="/images/vase_kurser.webp" alt="vase" />
  <img src="/images/hands.webp" alt="hænder med ler på" />
</section>
<section class="tilmelding">
  <h2>Tilmelding</h2>
</section>
