---
import "../styles/style.css";
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
---

<MainLayout title="Kursus">
  <section class="info">
    <h1>Keramik kurser</h1>
    <div class="grid_1-1">
      <div class="">
        <p>Lær at dreje - du behøver ingen erfaring!</p>
        <p>Gennem kurset vil du lære simple teknikker til at dreje keramik. <br /> Du vil blive introduceret til lerets egenskaber og hvordan det kan forvandles fra klump til færdigt produkt.</p>
        <br />
        <p>
          De første fire dage går vi I dybden med drejeteknikker og især hvordan man får centreret leret på drejeskiven så du på fjerdedagen kan dreje efter egen arbejdstegning. <br /> Dag fem afdrejer vi de sidste emner og dag seks glaserer vi det hele
          inden det brændes for sidste gang.
        </p>
      </div>
      <ul>
        <li><b>Niveau:</b> begynder</li>
        <li><b>Varighed:</b> pr. lektion: 3,5 time</li>
        <li><b>Antal gange:</b> 6 gange, en mødegang pr uge</li>
        <li><i>Alle materialer inkluderet</i></li>
        <li><i>Te & kaffe inkluderet</i></li>
      </ul>
    </div>
    <div class="grid_1-1">
      <img src="/images/in_the_making2.webp" alt="in the making" />
      <img src="/images/in_the_making3.webp" alt="in the making" />
    </div>
  </section>
  <div class="border"></div>
  <section class="program">
    <img class="left" src="/iconer/pillar.svg" alt="pillar svg" />
    <div class="programmet">
      <h2>Kursus program</h2>
      <ul class="dag">
        <li>Dag 1: Intro til centrering & den simple form</li>
        <li>Dag 2: Afdrejning & drej den simple form</li>
        <li>Dag 3: Afdrejning, drej simple former & blinddrejning</li>
        <li>Dag 4: Afdrejning & drej efter en arbejdstegning</li>
        <li>Dag 5: Afdrejning</li>
        <li>Dag 6: Glasering</li>
      </ul>
    </div>
    <img class="right" src="/iconer/pillar.svg" alt="pillar svg" />
  </section>
  <div class="border-bottom"></div>
  <section class="grid_3-2">
    <img class="image_1" src="/images/in_the_making4.webp" alt="in the making" />
    <img class="image_2" src="/images/produkter_kurser.webp" alt="forskellige produkter" />
    <img class="image_3" src="/images/vase_kurser.webp" alt="vase" />
    <img class="image_4" src="/images/hands.webp" alt="hænder med ler på" />
  </section>
  <section class="tilmelding">
    <h2>Tilmelding</h2>
    <form action="registration_form" class="form">
      <div class="yourInfo">
        <label for="name:"
          >Navn:
          <input type="text" id="name" name="name" placeholder="Helle" /></label
        >
        <label for="mail"
          >Email:
          <input type="text" id="mail" name="mail" placeholder="Hellejensen@gmail.com" /></label
        >
        <label for="number"
          >Tlf:
          <input type="text" id="phone" name="phone" placeholder="76281930" /></label
        >
      </div>
      <div class="">
        <label for="opstart"
          >Hold opstart:
          <select name="start" id="start" form="start">
            <option value="juni">1/6 2023</option>
            <option value="august">1/8 2023</option>
            <option value="oktober">1/10 2023</option>
            <option value="december">1/12 2023</option>
          </select></label
        >
        <label for="antal"
          >Antal:
          <select name="antal" id="antal" form="antal">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select></label
        >
        <p>Bemærk: Hvis i er flere sammen skal i blot skrive antallet i feltet for at komme på samme hold, dog max 4 pers.</p>
      </div>
      <div class="">
        <Button variant="secondary">Tilmeld</Button>
      </div>
    </form>
  </section>
</MainLayout>

<style>
  section {
    margin-top: 100px;

    max-width: 90%;
    margin-inline: auto;
  }

  img {
    width: 100%;
    height: 100%;
  }
  .info {
    margin-top: 200px;
  }

  .dag {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dag li {
    padding-block: 2%;
  }
  .info h1 {
    display: flex;
    justify-content: center;

    margin-bottom: 100px;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;

    margin-bottom: 70px;
  }

  .info ul {
    list-style: none;

    margin-bottom: 100px;
  }

  .border {
    border-top: 4px solid #f3f0ec;
    margin-bottom: 70px;
    margin-inline: 350px;

    margin-top: 120px;
  }

  .border-bottom {
    border-bottom: 4px solid #f3f0ec;
    margin-top: 70px;
    margin-inline: 350px;
  }

  .program {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 0;
  }

  .program h2 {
    display: flex;
    justify-content: center;

    margin-bottom: 50px;
  }

  .programmet {
    padding-top: 135px;
  }

  .programmet ul {
    list-style: none;
  }

  .program img {
    width: 50%;
    height: auto;
  }

  .right {
    justify-self: end;
  }

  .grid_3-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    gap: 2%;
  }

  .image_1 {
    grid-column: 1;
    grid-row: span 2;
  }

  .image_2 {
    grid-column: 2;
    grid-row: 1;
  }

  .image_3 {
    grid-column: 2;
    grid-row: 2;
  }

  .image_4 {
    grid-column: 3;
    grid-row: span 2;
  }

  .tilmelding {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 800px;
  }

  .tilmelding h2 {
    margin-bottom: 5%;
  }

  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
  }

  form label {
    display: flex;
    flex-direction: column;

    padding-block: 2%;
  }

  form input {
    width: 100%;
    height: auto;

    padding-block: 1.5%;
  }

  form select {
    width: 100%;
    height: auto;

    padding-block: 1.5%;
    background-color: var(--white);
    outline: none;
    border: 1px solid #51473d;
    font-size: var(--font-p);
    color: var(--dark-brown);
  }

  .yourInfo {
    display: flex;
    flex-direction: column;
  }
</style>
