---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Om mig">
  <div class="video-container">
    <iframe
      width="100%"
      height="100%"
      src="https://www.youtube.com/embed/dWNK58ioV6U"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
  </div>
  <section class="om_mig">
    <div class="tekst">
      <h1>Lidt om mig</h1>
      <p>
        Mit navn er Elena Rigas, jeg er opvokset i Danmark, men en stor del af min opvækst har været præget af det græske, da min far er græker. Min interesse for keramik og ler kommer sig af, at min mor og jeg startede med at lave keramik sammen. Da
        der skete en masse ting i vores liv på det tidspunkt brugte vi det som en form for terapi og siden da har min passion for keramik og ler bare vokset.
      </p>
      <br />
      <p>Størstedelen af min inspiration kommer fra det græske, altså antikkens Grækenland. Jeg tager meget udgangspunkt i formerne derfra og derefter blander det med den rå nordiske stil, herfra får jeg skabt et tidløst, jordnært og råt look.</p>
    </div>
    <img src="/images/elena.webp" alt="elena" />
  </section>
  <section class="baeredygtig">
    <h2>Vi er også bæredygtige</h2>
    <div class="grid_1-1">
      <div class="">
        <p>
          Hos Piloscph gør vi også en stor indsats for at passe på vores klode, vi går som så mange andre også op i bæredygtigheden, blandt andet ved den måde vi fremstiller produkterne på, men også ved at have en viden indenfor de ingredienser vi
          bruger.
        </p>
      </div>
      <div class="">
        <p>Vores fordel inden for bæredygtigheden er, at vores materialer er fremstillet med ler, som er en naturressource og derfor er meget bæredygtigt at udvinde fra vores natur.</p>
      </div>
    </div>
    <img src="/images/in_the_making1.webp" alt="in the making" />
  </section>
  <section class="ler">
    <h2>Lidt om ler</h2>
    <div class="ler-tekst">
      <div class="">
        <p>
          Vidste du, at ler er blevet brugt gennem årtier, både til at bygge huse med, men også til keramik, skulpturer og kunst. Man bruger for det meste ler til keramik, især fordi det er meget holdbart og da det kan findes over alt. Ved
          forarbejdningen af ler kræves der faktisk ikke så meget energi i modsætning til andre materialer, det betyder også, at ler ikke belaster miljøet lige så meget.
        </p>
      </div>
      <div class="">
        <p>Derudover kan det ler, der er i overskud og ikke er blevet brændt endnu, faktisk genanvendes, hvilket vi også i stor grad gør hos Piloscph. Ler kan heller aldrig blive til byggeaffald da det er biologisk nedbrydeligt.</p>
      </div>
    </div>
  </section>
</MainLayout>

<style>
  img {
    width: 100%;
    height: auto;
  }
  section {
    margin-top: 100px;

    max-width: 90%;
    margin-inline: auto;
  }

  .video-container {
    position: relative;
    width: 100%;
    height: 900px;
  }

  .om_mig {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;

    padding-bottom: 100px;
    border-bottom: 4px solid #f3f0ec;
  }

  .om_mig h1 {
    margin-bottom: 5%;
  }

  .tekst {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .baeredygtig h2 {
    display: flex;
    justify-content: center;

    margin-bottom: 50px;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3%;

    margin-bottom: 50px;
  }

  .ler {
    border: 4px solid #f3f0ec;

    padding: 8%;
  }

  .ler-tekst {
    padding-inline: 170px;
  }

  .ler h2 {
    display: flex;
    justify-content: center;

    margin-bottom: 50px;
  }

  @media (max-width: 1200px) {
    .video-container {
      height: 700px;
    }
  }

  @media (max-width: 900px) {
    .video-container {
      height: 600px;
    }
    .om_mig {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 2fr;
    }

    .grid_1-1 {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }

    .ler-tekst {
      padding-inline: 10px;
    }
  }

  @media (max-width: 400px) {
    .video-container {
      height: 300px;
    }
    section {
      margin-top: 70px;
    }

    .om_mig {
      grid-template-rows: 3fr 2fr;
    }

    .om_mig h1 {
      margin-bottom: 20%;
      font-size: var(--font-h2);

      display: flex;
      justify-content: center;
    }

    h2 {
      font-size: var(--font-h3);
    }
  }
</style>
