<section class="produkt">
  <div>
    <img class="image" src="" alt="" />
  </div>
  <div class="info"></div>
</section>
<section class="tekst"></section>
<section class="produkter">
  <div class="image_1">
    <img src="" alt="" />
    <p></p>
  </div>
  <div class="image_2">
    <img src="" alt="" />
    <p></p>
  </div>
  <div class="image_3">
    <img src="" alt="" />
    <p></p>
  </div>
</section>
