---
const { variant } = Astro.props;
---

<button class={variant}> <p><slot /></p></button>

<style>
  button {
    padding: 1rem 3.5rem;
    border: none;
    outline: none;
    text-transform: uppercase;
  }

  button p {
    font-size: var(--font-small);
  }
  @media (max-width: 400px) {
    button {
      padding: 0.5rem 1rem;
    }

    button p {
      font-size: 0.7rem;
    }
  }

  .primary {
    background-color: var(--icon_background);
    color: var(--dark_brown);
  }

  .primary:hover {
    background-color: var(--light_brown);
    color: var(--dark_brown);
  }

  .secondary {
    background-color: var(--medium_brown);
    color: var(--white);
  }

  .secondary:hover {
    background-color: var(--light_brown);
    color: var(--white);
  }
</style>
