---
const { variant } = Astro.props;
---

<button class={variant}><slot /></button>

<style>
  button {
    padding: 1rem 3.5rem;
    border: none;
    outline: none;
    text-transform: uppercase;

    font-size: var(--font-small);
  }

  .primary {
    background-color: var(--icon_background);
    color: var(--dark_brown);
  }

  .primary:hover {
    background-color: var(--light_brown);
    color: var(--dark_brown);
  }

  .secondary {
    background-color: var(--medium_brown);
    color: var(--white);
  }

  .secondary:hover {
    background-color: var(--light_brown);
    color: var(--white);
  }
</style>
