---
import Logo from "./Logo.astro";
---

<header class="banner">
  <div class="header">
    <div class="logo">
      <Logo />
    </div>

    <ul id="ulcategories">
      <li><a href="#">OM MIG</a></li>
      <li><a href="#">SHOP</a></li>
      <li><a href="#">KURSER</a></li>
      <li><a href="#">KONTAKT</a></li>
    </ul>
    <ul id="shop"></ul>
  </div>
</header>

<script src="../scripts/burger.js"></script>

<style></style>
