---
---

<div class="piloscph">
  <a href="/" class="logo"><img src="/logo.svg" alt="logo" /></a>
</div>
<style>
  img {
    width: 25%;
    height: auto;
  }

  .piloscph {
    position: relative;
    cursor: pointer;
  }
</style>
