---
---

<a href="/" class="logo piloscph"><img src="/logo.svg" alt="logo" /></a>
<style>
  img {
    width: 25%;
    height: auto;
    min-width: 70px;
    max-width: 90px;
  }

  .piloscph {
    cursor: pointer;
  }
</style>
